<!-- Student Menu View -->
{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">Today’s Mess Menu</h3>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>Breakfast</th>
      <th>Lunch</th>
      <th>Dinner</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
