{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
  <h3>Attendance Report</h3>
  <a href="/attendance/pdf" class="btn btn-primary">Download PDF</a>
</div>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>Student</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for a in data %}
    <tr>
      <td>{{ a[0] }}</td>
      <td>{{ a[1] }}</td>
      <td>{{ a[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
