{% extends "base.html" %}
{% block content %}

<div class="card">

  <h2>Students</h2>

  <form method="GET" class="stats-grid">

    <input class="form-control" name="q" value="{{ q }}" placeholder="Search name or email">

    <input class="form-control" name="branch" value="{{ branch }}" placeholder="Branch">

    <input class="form-control" name="sem" value="{{ sem }}" placeholder="Semester">

    <button class="btn btn-primary">Filter</button>

  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th><th>Email</th><th>Branch</th><th>Semester</th><th></th>
      </tr>
    </thead>
    <tbody>
      {% for s in data %}
      <tr>
        <td>{{ s[2] }}</td>
        <td>{{ s[1] }}</td>
        <td>{{ s[3] }}</td>
        <td>{{ s[4] }}</td>
        <td>
          <a class="btn btn-success" href="/student/view/{{ s[1] }}">View</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
