{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:900px;margin:auto">

  <h2>Student Profile</h2>

  <div style="display:flex;gap:20px">

    <img src="/static/uploads/{{ s[7] or 'default.png' }}"
         style="width:140px;height:140px;border-radius:16px;object-fit:cover">

    <div>
      <h3>{{ s[2] }}</h3>
      <p><b>Email:</b> {{ s[1] }}</p>
      <p><b>Branch:</b> {{ s[3] or '—' }}</p>
      <p><b>Semester:</b> {{ s[4] or '—' }}</p>
      <p><b>Phone:</b> {{ s[5] or '—' }}</p>
      <p><b>Address:</b> {{ s[6] or '—' }}</p>
    </div>

  </div>

</div>

{% endblock %}
